@model InventarioWeb.Models.Proveedor
@{
    ViewData["Title"] = "Detalle Proveedor";
}

<h2 class="text-primary">@ViewData["Title"]</h2>

<table class="table table-bordered mt-3">
    <tr><th>Código</th><td>@Model.Id</td></tr>
    <tr><th>Nombre</th><td>@Model.Nombre</td></tr>
    <tr><th>Dirección</th><td>@Model.Direccion</td></tr>
    <tr><th>Email</th><td>@Model.Email</td></tr>
    <tr><th>Teléfono</th><td>@Model.Telefono</td></tr>
    <tr>
        <th>Estado</th>
        <td>
            @if (Model.Estado)
            {
                <span class="badge bg-success">Activo</span>
            }
            else
            {
                <span class="badge bg-secondary">Inactivo</span>
            }
        </td>
    </tr>
    <tr>
        <th>Creado</th>
        <td>@(Model.CreadoEn?.ToString() ?? "-")</td>
    </tr>
    <tr><th>Actualizado</th>
        <td>@(Model.ActualizadoEn?.ToString() ?? "-")</td>
    </tr>


</table>

<a asp-action="Index" class="btn btn-secondary">Volver</a>
