@model InventarioWeb.Models.Producto
@{
    ViewData["Title"] = "Detalle Producto";
}

<h2 class="text-primary">@ViewData["Title"]</h2>

<table class="table table-bordered mt-3">
    <tr><th>Código</th><td>@Model.Codigo</td></tr>
    <tr><th>Nombre</th><td>@Model.Nombre</td></tr>
    <tr><th>Categoría</th><td>@Model.Categoria</td></tr>
    <tr><th>Proveedor</th><td>@Model.Proveedor</td></tr>
    <tr><th>Stock</th><td>@Model.Stock</td></tr>
    <tr><th>Precio Compra</th><td>@Model.PrecioCompra.ToString("C")</td></tr>
    <tr><th>Precio Venta</th><td>@Model.PrecioVenta.ToString("C")</td></tr>
    <tr><th>Fecha Ingreso</th><td>@Model.FechaIngreso.ToShortDateString()</td></tr>
    <tr><th>Fecha Vencimiento</th><td>@Model.FechaVencimiento.ToShortDateString()</td></tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Volver</a>
